<div class="container">
    <div class="heading">
        <span>{{constantHolder.header}}</span>
    </div>
    <div class="sub-container">
        <div class="filter-section">
            <div class="sub-heading">
                <span class="white-background">Filters</span>
            </div>
            <div class="white-background center">
                {{constantHolder.launchYear}}
                <hr>
            </div>
            <div class="year-container white-background">
                <button *ngFor="let year of constantYearArray" class=" white-background margin-top padding-10" [ngClass]="missileState.year == year ? 'space-button-selected': 'space-button-unselected'" (click)="filterYear(year)"> 
                    {{year}}
                </button>
            </div>
            <div class="successful-launch white-background center margin-top">
                {{constantHolder.successfulLaunch}}
                <hr>
                <div class="year-container white-background">
                    <div class="space-button-unselected white-background padding-10 margin-top" [ngClass]="missileState.launch == true ? 'space-button-selected': 'space-button-unselected'" (click)="filterSuccessfulLaunch(true)">{{constantHolder.trueConstant}}</div>
                    <div class="space-button-unselected white-background padding-10 margin-top" [ngClass]="missileState.launch == false ? 'space-button-selected': 'space-button-unselected'" (click)="filterSuccessfulLaunch(false)">{{constantHolder.falseConstant}}</div>
                </div>
            </div>
            <div class="successful-Landing white-background center margin-top">
                {{constantHolder.successfulLanding}}
                <hr>
                <div class="year-container white-background">
                    <div class="space-button-unselected white-background padding-10 margin-top" [ngClass]="missileState.landed == true ? 'space-button-selected': 'space-button-unselected'" (click)="filterSuccessfulLanded(true)">{{constantHolder.trueConstant}}</div>
                    <div class="space-button-unselected white-background padding-10 margin-top" [ngClass]="missileState.landed == false ? 'space-button-selected': 'space-button-unselected'" (click)="filterSuccessfulLanded(false)">{{constantHolder.falseConstant}}</div>
                </div>
            </div>
        </div>
        <div class="main-section">
            <div *ngFor="let card of processedData">
                <div class="mission-details-card">
                    <div class=" white-background center">
                        <img class="mission-patch" src={{card.links.mission_patch}} alt="mission-patch">
                    </div>
                    <div class="white-background center margin-top">
                        <span class="white-background">{{card.mission_name}}#{{card.flight_number}}</span>
                    </div>
                    <div  class="white-background center">
                        <span class="white-background">{{constantHolder.missionIds}}:{{card.mission_id ? card.mission_id : 0}}</span>
                    </div>
                    <div  class="white-background center">
                        <span  class="white-background">{{constantHolder.launchYear}}:{{card.launch_year}}</span>
                    </div>
                    <div class="white-background center">
                        <span class="white-background">{{constantHolder.successfulLaunch}}:{{card.launch_success === null ? null : card.launch_success}}</span>
                    </div>
                    <div class="white-background center">
                        <span class="white-background">{{constantHolder.successfulLanding}}:
                            {{card.rocket.first_stage.cores? card.rocket.first_stage.cores[0].land_success: false}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer center">
        Developed by: Apurva Pathak
    </div>
</div>
  